html {
  font-size: 62.5%;
}

body a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

body {
  height: 200vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 10rem;
  background-color: #e5e7e9;
}

.nav-bar {
  width: 100%;
  display: flex;
  padding: 1rem;
  top: 0;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.logo {
  width: 20rem;
  height: 5rem;
}

.btn-layout {
  padding: 1rem;
  border: 0;
  border-radius: 1rem;
  width: 10rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 435px) {
  .btn-layout {
    width: 5rem;
  }
  .logo {
    width: 15rem;
    height: 4rem;
  }
}

button {
  transition: 0.15s;
}

button:hover {
  cursor: pointer;
  transform: scale(105%);
}

.btn-primary {
  background-color: rgb(30, 144, 255);
}

.btn-primary:hover {
  background-color: rgba(30, 144, 255, 0.3);
  border: 1px solid dodgerblue;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: url(images/daniel-olah-idednB9qCrA-unsplash.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
  .grid-container {
    flex-direction: column;
  }
}

.grid-container h1 {
  color: #fff;
  font-size: 4rem;
}

.btn-extra {
  margin-left: 1rem;
  width: 12rem;
}

.grid-container-btn {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

@media screen and (max-width: 800px) {
  .grid-container-btn {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .grid-container h1 {
    text-align: center;
  }

  .btn-extra {
    margin: 0px;
    margin-top: 1rem;
  }
  .btn-extra-one {
    width: 12rem;
    margin-top: 1rem;
  }
}

.uses-container-layout {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}

.uses-container-layout h1 {
  font-size: 3rem;
  margin: 0;
}

.uses-container-layout p {
  font-size: 1.2rem;
  color: #8d8d8d;
  font-size: 1.5rem;
}

.uses-logo {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  margin-top: 0.4rem;
}

.img-layout {
  display: flex;
  margin-left: 1rem;
  margin-top: 1rem;
}

.uses-para-layout {
  margin-left: 1.5rem;
}

.uses-container-layout hr {
  border: 0;
  border-top: 1px solid #cccdcf;
}

@media screen and (max-width: 450px) {
  .img-layout {
    justify-content: center;
  }
  .extra-margin {
    margin-right: 4rem;
  }
}

.clubs-heading {
  text-align: center;
  font-size: 3rem;
}

hr {
  border: 0;
  border-top: 1px solid #cccdcf;
  margin-right: 1rem;
  margin-left: 1rem;
}

.clubs-container-layout {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 1rem;
}

.android-logo {
  width: 15rem;
  height: 15rem;
}

.clubs-layout {
  display: flex;
  background: linear-gradient(to top, #2c3e50, #000);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s;
}

.code-logo {
  width: 15rem;
  height: 15rem;
}

.bolt-logo {
  width: 15rem;
  height: 15rem;
}

.idea-logo {
  width: 15rem;
  height: 15rem;
}

.white {
  color: #fff;
}

.club-heading-inner {
  font-size: 3rem;
}

.club-text {
  font-size: 1.5rem;
}

.logo-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.clubs-layout:hover {
  transform: scale(105%);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .clubs-container-layout {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .clubs-layout {
    flex-direction: column;
    justify-content: center;
  }
}
