html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

body {
  height: 200vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #e5e7e9;
  padding: 0;
}

.logo {
  width: 20rem;
  height: 5rem;
}

@media screen and (max-width: 435px) {
  .logo {
    width: 15rem;
    height: 4rem;
  }
}

button {
  transition: 0.15s;
}

button:hover {
  cursor: pointer;
  transform: scale(105%);
}

.grid-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: url(images/daniel-olah-idednB9qCrA-unsplash.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
  .grid-container {
    flex-direction: column;
  }
}

.grid-container h1 {
  color: #fff;
  font-size: 4rem;
}

.grid-container-btn {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

@media screen and (max-width: 800px) {
  .grid-container-btn {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .grid-container h1 {
    text-align: center;
  }
}

.uses-logo {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  margin-top: 0.4rem;
}

.clubs-heading {
  text-align: center;
  font-size: 3rem;
}

hr {
  border: 0;
  border-top: 1px solid #cccdcf;
  margin-right: 3rem;
  margin-left: 3rem;
}

.clubs-container-layout {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.android-logo {
  width: 15rem;
  height: 15rem;
}

.clubs-layout {
  display: flex;
  background: linear-gradient(to top, #2c3e50, #000);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 16px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s;
}

.code-logo {
  width: 15rem;
  height: 15rem;
}

.bolt-logo {
  width: 15rem;
  height: 15rem;
}

.idea-logo {
  width: 15rem;
  height: 15rem;
}

.white {
  color: #fff;
}

.club-heading-inner {
  font-size: 3rem;
}

.club-text {
  font-size: 1.5rem;
}

.logo-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.clubs-layout:hover {
  transform: scale(105%);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .clubs-container-layout {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }

  .clubs-layout {
    flex-direction: column;
    justify-content: center;
  }
}

.heading-circle {
  height: 120vh;
  width: 100%;
  background-color: #2b4162;
  background-image: radial-gradient(#2b2949, #191830);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 94%);
  padding-top: 1rem;
  overflow: hidden;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.intro-heading {
  font-size: 6rem;
  text-align: center;
  background: linear-gradient(to right, #9df4d2, #6eb9f6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 1rem;
  margin-top: 15rem;
}

.btn-new-layout {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background-color: #191830;
  transition: 0.5s all;
}

.btn-new-layout a {
  color: #fff;
}

.btn-new-layout:hover {
  border: 0;
  background: linear-gradient(to right, #9df4d2, #6eb9f6);
}

.uses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 10rem;
}

.uses-grid-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uses-grid-items h1 {
  font-size: 4vw;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .uses-logo {
    width: 3rem;
    height: 3rem;
  }
  .heading-circle {
    height: 100vh;
  }
}
